@import "_var";
@import "_reset";
body {
    position: relative;
}

.block_title {
    position: relative;
    height: 85vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background-image: url(../../assets/images/main_bg_01.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
    padding-top: 50px;
    .item_logo {
        background: rgb(0, 0, 0);
        width: 270px;
        height: 270px;
        border-radius: 50%;
    }
    .item_typing-title {
        @include margin(40px, 0px);
        .mast__title {
            margin: 0px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 1);
            letter-spacing: 5px;
            font-size: 2.7em;
            font-weight: 400;
            text-align: center;
            span {
                animation: letter-glow 0.9s 0s ease both;
                @include nth-ani-delay(25, 0.2s);
            }
        }
        .mast__title-fadeIn {
            text-align: center;
            margin: 0px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 1);
            letter-spacing: 5px;
            font-size: 2.7em;
            font-weight: 600;
            animation: letter-glow 2s 6s cubic-bezier(.1, .7, 1, 1) both;
        }
    }
    .item_line-for-login {
        position: absolute;
        display: flex;
        justify-content: center;
        right: 0px;
        left: 0px;
        bottom: -100px;
        .item_login {
            flex-flow: column wrap;
            justify-content: space-around;
            align-content: center;
            display: flex;
            width: 25%;
            height: 240px;
            background: rgb(255, 255, 255);
            border: 1px groove #807f7f6b;
            box-shadow: 0px 1px 2px #807f7f6b;
            button {
                align-self: center;
                text-transform: uppercase;
                width: 45%;
                outline: none;
                border: 0px;
                @include padding(10px, 20px);
                background-color: rgb(34, 125, 211);
                color: #fff;
                transition: all 500ms ease-out;
                font-weight: 500;
                font-size: 1.3em;
            }
            button:hover {
                animation: swing 2s linear;
                transform: scale(1.1);
            }
            input {
                align-self: center;
                width: 70%;
                line-height: 30px;
                @include padding(0px, 10px);
            }
            .item_images {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                img {
                    width: 20%;
                }
            }
        }
    }
}

.block__doc-photo {
    display: flex;
    justify-content: center;
    padding: 120px 20px 70px 20px;
    .item {
        display: flex;
        flex-flow: row nowrap;
        width: 40%;
    }
}

.block__green {
    display: flex;
    flex-flow: column nowrap;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    overflow: hidden;
    .item_sec1 {
        display: flex;
        flex-flow: row nowrap;
        background-color: rgb(68, 163, 111);
        align-items: center;
        @include padding(40px, 25%);
        padding-bottom: 80px;
        box-sizing: border-box;
        width: 100%;
        position: relative;
        font-size: 0.8em;
        p {
            line-height: 25px;
        }
        .button_download {
            color: rgb(255, 255, 255);
            background-color: rgba(240, 240, 240, 0);
            border: 3px solid rgb(255, 255, 255);
            border-radius: 5px;
            @include padding(10px, 20px);
            text-transform: uppercase;
            font-size: 1.5em;
            outline: none;
            cursor: pointer;
        }
    }
    .item_sec1:before {
        content: '';
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0%;
        z-index: -1;
        width: 150%;
        height: 75%;
        background-color: rgb(48, 131, 85);
        transform: rotate(-24deg);
        transform-origin: 0 0;
    }
    .item_sec1:after {
        content: '';
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0%;
        z-index: -1;
        width: 150%;
        height: 95%;
        background: inherit;
        transform: rotate(-15deg);
        transform-origin: 0 0;
    }
    .item_sec2 {
        display: flex;
        height: 100vh;
        flex-flow: column nowrap;
        align-items: center;
        background-color: rgb(95, 193, 139);
        @include padding(60px, 28%);
        padding-bottom: 150px;
        position: relative;
        font-size: 0.8em;
        clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
        z-index: 3;
        p {
            line-height: 25px;
        }
        h2 {
            text-align: center;
        }
    }
}

.block__contacts {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 90vh;
    background-image: url(../../assets/images/map.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
    @include padding(80px, 20px);
    .item_contact-form {
        width: 400px;
        height: 400px;
        box-sizing: border-box;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        border-radius: 50%;
        @include padding(40px, 20px);
        background: rgb(255, 255, 255);
        input {
            width: 55%;
        }
        textarea {
            width: 55%;
        }
        button {
            outline: none;
            border: 0px;
            background-color: rgb(67, 160, 109);
            cursor: pointer;
            animation: ripple 3500ms infinite;
            border-radius: 50%;
            color: rgb(255, 255, 255);
            font-size: 3em;
        }
        button:hover {
            animation: rippleRev 800ms cubic-bezier(.34, .20, .83, .45);
        }
    }
}

footer {
    position: absolute;
    box-sizing: border-box;
    bottom: 0px;
    left: 0px;
    @include padding(15px, 20px);
    color: rgb(255, 255, 255);
    background-color: rgb(67, 160, 109);
    width: 100%;
    text-align: center;
}

g {
    transition: all 1000ms linear;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0px rgba(34, 201, 140, 0.6), 0 0 0 0px rgba(230, 230, 230, 0.6);
    }
    100% {
        box-shadow: 0 0 10px 60px rgba(34, 201, 140, 0), 0 0 0 60px rgba(240, 240, 240, 0);
    }
}

@keyframes rippleRev {
    0% {
        box-shadow: 0 0 10px 60px rgba(34, 201, 140, 0), 0 0 0 60px rgba(240, 240, 240, 0);
    }
    100% {
        box-shadow: 0 0 0 0px rgba(34, 201, 140, 0.8), 0 0 0 0px rgba(230, 230, 230, 0.8);
    }
}

@keyframes letter-glow {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1)
    }
    66% {
        opacity: 1;
        text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9)
    }
    77% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        text-shadow: 0px 0px 20px rgba(255, 255, 255, 0)
    }
}

@keyframes swing {
    0% {
        transform: rotate(0deg) scale(1);
    }
    10%,
    25%,
    40%,
    55%,
    70%,
    85% {
        transform: translate(0, -3px) scale(1.1);
    }
    15%,
    30%,
    45%,
    60%,
    75%,
    90% {
        transform: translate(0, 3px) scale(1.1);
    }
    100% {
        transform: rotate(0deg) scale(1.1);
    }
}